<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<title>Movie collection</title>
</head>
<body>
	<h1>Movies</h1>
	<table class="table table-striped">
		<tbody>
			<tr>
				<th>Title</th>
				<th>Director</th>
				<th>Description</th>
				<th>Release year</th>
				<th>Genre</th>
			</tr>
			<tr th:each = "movie: ${movies}">
				<td th:text="${movie.title}"></td>
				<td th:text="${movie.director}"></td>
				<td th:text="${movie.description}"></td>
				<td th:text="${movie.releaseYear}"></td>
				<td th:text="${movie.genre.name}"></td>
				<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${movie.id})}" class="btn btn-danger">Delete</a></td>
				<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/edit/{id}(id=${movie.id})}">Edit</a></td>
			</tr>
		</tbody>
	</table>
	<a sec:authorize="hasAuthority('ADMIN')" href="/add" class="btn btn-success">Add movie</a>
	<a href="/logout" class="btn btn-success">Log out</a>
</body>
</html>